.login-container {
  max-width: 500px;
  max-height: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 140px;
  margin-bottom: 60px;
  background-color:green;
}

h2 {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
button {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #e0a22f;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.register-button {
  margin-top: 20px;
  background-color:#b7d410;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #c0df14;
}
